html, body {
	margin: 0;
	padding: 0;
	text-align: center;

}
body {
	background-image: url("../images/star-wars-galaxy.jpg");
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}
#header h1 {
	font-family: Star Jedi;
	font-size: 3.1em;
	color: black;
    text-shadow:
    -1px -1px 0 yellow,
    1px -1px 0 yellow,
    -1px 1px 0 yellow,
    1px 1px 0 yellow;  
}
table {

}
#display {
	padding: 0;
	font-size: 2.5em;
	color: white;
	font-family: Star Jedi;
	text-align: right;
}
#cashButtons {
	font-size: 1.2em
}
#inBtn {
	margin: 1% auto;
	animation: blink 1s linear infinite;
	border: 3px solid white;
	padding: 3%;
}
#outBtn {
	margin: 1% auto;
	border: 3px solid white;
	padding: 3%;
}
#falcon {
	position: absolute;
	left:-350px;
	top:35%;
	max-height: 250px;
	z-index: 10;
}
#slotGame td {	
	width: 110px;
	height: 110px;
}
#slotGame td img {
	width: 100px;
	height:100px;
}
#spaced{
	padding-right:100px;
}
.money {
	font-family: 'Roboto Mono', monospace;
	background-color: black;
	color: white;
	border-radius: 10px;
	margin-left: 100px;	
}

.vert1 {
	border-right: 5px solid yellow;
}
.vert2 {
	border-right: 5px solid yellow;
}
.vert3 {
	border-right: 5px solid yellow;
}
.vert4 {
	border-right: 5px solid yellow;
}
.bold {
	font-weight: bold;
	color: yellow;
	font-size: 1.3em;
	font-family: Star Jedi;
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#handle {
	margin-top: 90px;
	padding: 0px 30px 0px 0px;

}
#handle img{
	max-width: 180px;
	max-height: 200px;
}
#tracker {
	max-height: 30px;
	padding: 0;
	margin: 0 auto;
	font-size: 2.5em;
}
#tracker .display {
	color: red;
	padding-left: 10px;
	font-family: Star Jedi;
	font-size: 0.8em;
}
@keyframes flash {
	
  0%, 49% {
    background-color: rgba(255,255,255,0.3);
    /*border: 3px solid rgba(255,255,255,0.3);*/
  }
  50%, 100% {
    background-color: rgba(135,206,250, 0.5);
    /*border: 3px solid #e50000;*/
  }
}
#slotGame {
	margin: 2% auto;
	-webkit-animation: flash 4s infinite;  /* Safari 4+ */
    -moz-animation: flash 4s infinite;  /* Fx 5+ */
    -o-animation: flash 4s infinite;  /* Opera 12+ */
    animation: flash 4s infinite;  /* IE 10+, Fx 29+ */
	/*background-color: rgba(255,255,255,0.3);*/
	
}
#betButtons {
	display: inline-block;
	margin: 1% auto;
	font-size: 1em;
}
#betButtons label {
	width: 100px;
}
.buttonState {
	display:none;
}
.button {
	padding:3px; 
	margin:4px; 
	background:#CCC; 
	border:1px solid #333; 
	cursor: crosshair;
}
@keyframes blink { 
   50% { border-color: #ff0000; } 
}
.buttonState:checked + .button{ 
	background:#fff;
	border-width: 5px;
	animation-name: blink ;
    animation-duration: 0.5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
}
.needsCredits {
	color: white;
	background-color: red;
	border-radius:30px;
}

/*trying to  get the lightsaber to rotate on click*/
.clicked {
	transition: transform 0.5s ease;
	transform: rotate(30deg);
}
.unclicked {
	transition: transform 0.5s ease;
	transform: rotate(50deg);
}

.btn-lg {
	background-color: yellow;
	font-family: 'Roboto Mono', monospace;
}
.modal {
	font-family: Star Jedi;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.7);
}
.modal-content {
	margin-top:40%;
	background-color: black;
}
.modal-header {
	background-color: black;
	color: white;
}
.modal-footer {
	
}