html, body {
	margin: 0;
	padding: 0;
	width: 1000px;
	text-align: center;
}
#slotGame td {
	
	width: 100px;
	height: 100px;
}
#spaced{
	
	padding-right:100px;
}
.money {
	font-family: 'Roboto Mono', monospace;
	background-color: black;
	color: white;
	border-radius: 10px;
	margin-left: 100px;	
}

.row1 {
	border-right: 5px solid black;
}
.row2 {
	border-right: 5px solid black;
}
.row3 {
	border-right: 5px solid black;
}
.row4 {
	border-right: 5px solid black;
}
/*.pay1 {
	background-color: purple;
}
.pay2 {
	background-color: red;
}
.pay3 {
	background-color: green;
}
.pay4 {
	background-color: teal;
}
.pay5 {
	background-color: maroon;
}*/
.bold {
	font-weight: bold;
	color: yellow;
	font-size: 1.3em;
}

#tracker {
	max-height: 30px;
	padding: 0;
	margin: 0 auto;
	font-size: 2em;
}
#slotGame {
	margin: 1% auto;
	
}

#betButtons {
	display: inline-block;
	margin: 1% auto;
	font-size: 1em;
}
#betButtons label {
	width: 100px;
}
.buttonState {
	display:none;
}
.button {
	padding:3px; 
	margin:4px; 
	background:#CCC; 
	border:1px solid #333; 
	cursor: crosshair;
}
@keyframes blink { 
   50% { border-color: #ff0000; } 
}
.buttonState:checked + .button{ 
	background:#fff;
	border-width: 5px;
	animation-name: blink ;
    animation-duration: 0.5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
}